

<div *ngIf="items.length > 0" class="card-columns p-5">
  <div
    *ngFor="let item of items"
    (click)="navToProfile(item)"
    class="card"
    style="width: 18rem"
  >
    <img
      class="card-img-top"
      [src]="item.images | noimage"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">{{ item.name | uppercase }}</h5>
      <p class="card-text">
        <span
          *ngFor="let artist of item.artists"
          (click)="navToProfile(artist.name)"
          class="badge badge-pill badge-primary mx-1"
          >{{ artist.name }}</span
        >
      </p>
    </div>
  </div>
</div>
